<div class="jumbotron">
    <h1>Hello World!</h1>
    <p class="lead">This is the homepage!</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="container">
            <p> Write a Hello World program:</p>
            <ol>
                <li>The program has 1 current business requirement a write Hello World to the console/screen.</li>
                <li>The program should have an API that is separated from the program logic to eventually support mobile applications, web applications, console applications or windows services.</li>
                <li>The program should support future enhancements for writing to a database, console application, etc.</li>
                <li>
                    <ol>
                        <li>Use common design patterns (inheritance, e.g.) to account for these future concerns.</li>
                        <li> Use configuration files or another industry standard mechanism for determining where to write the information to.</li>
                    </ol>
                        </li>
                <li>Write unit tests to support the API.</li>
            </ol>
        </div>
    </div>
</div>